<h1>Text {{text.id}}</h1>

<table class="table table-bordered table-striped">
	<tbody>
		<tr>
			<th style="width:180px;">ID</th>
			<td>{{text.id}}</td>
		</tr>
		<tr>
			<th>Autor</th>
			<td>{{text.author}}</td>
		</tr>
		<tr>
			<th>Pixel-Code (öffentlich)</th>
			<td>{{text.pixel.publicId}}</td>
		</tr>
		<tr>
			<th>Pixel-Code (privat)</th>
			<td>{{text.pixel.privateId}}</td>
		</tr>
		<tr>
			<th>Pixel-Host</th>
			<td>{{text.pixel.host}}</td>
		</tr>
		<tr>
			<th>erfasst am</th>
			<td>{{text.createdAt | date:'dd.MM.yyyy HH:mm:ss'}}</td>
		</tr>
		<tr>
			<th>URL(s)</th>
			<td>
				<ul data-ng-repeat="url in urls">
					<li>{{url}}</li>
				</ul>
			</td>
		</tr>
		<tr>
			<th>Meldungs-Titel</th>
			<td>{{grabbedData.title}}</td>
		</tr>
		<tr>
			<th>Meldungs-Text</th>
			<td><span data-ng-bind-html-unsafe="grabbedData.text"></span></td>
		</tr>
	</tbody>
</table>